<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/mysite/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jackson Fleming</title>
</head>
<body>
    <header>
        <h1>Jackson Fleming</h1>
        <h2>"Passionate about Cyber Security, Python Scripting, and Helping those around me succeed"</h2>
    </header>
    <nav>
        <ul>
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li><a href="#">Project 3</a></li>
        </ul>
    </nav>
    <main>
        <div id="main-wrapper">
            <div class="main-segment">
                <h3>Professional Experience</h3>
                <dl>
                    <dt>Shipper/Receiver @ [<a target="_blank" href="https://cdnova.com">CD Nova</a>]</dt>
                    <dd>
                        <ul>
                            <li>Oversaw shipments of $100,000+</li>
                        </ul>
                    </dd>
                    <dd>
                        <ul>
                            <li>Communication with customers regarding shipment status</li>
                        </ul>
                    </dd>
                    <dd>
                        <ul>
                            <li>Mis-shipped and damaged shipment remediation</li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="main-segment">
                <h3>Strengths & Weaknesses</h3>
                <dl>
                    <dt>Strengthts</dt>
                    <dd>
                        <ul>
                            <li>Strong goal foccussed work drive</li>
                        </ul>
                    </dd>
                    <dd>
                        <ul>
                            <li>Taking ownership and pride over projects</li>
                        </ul>
                    </dd>
                    <dd>
                        <ul>
                            <li>Creates positive and meaningful peer interactions</li>
                        </ul>
                    </dd>
                    <dd>
                        <ul>
                            <li>Constant strive to improve and learn new skills</li>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>Weaknesses</dt>
                </dl>
                    <dd>
                        <ul>
                            <li>Overly self-critical</li>
                        </ul>
                    </dd>
                    <dd>
                        <ul>
                            <li>Difficulty processing aggression and confrontation</li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="main-segment">
                <h3>Result of my Ocean Model Evlauation</h3>
                <p>
                    <img src="/mysite/static/images/oceanmodelresults_jf.jpg" alt="The result of my Ocean Model evaluation">
                    <br>
                    <em>Reference[<a href="https://www.truity.com/test/big-five-personality-test">Truity</a>]</em>
                </p>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy;Jackson Fleming 2025</p>
    </footer>
</body>
</html>